* {
  scroll-behavior: smooth;
}

/* Authentication Page */
.header {
  background-color: #091F43;
  padding: 30px 0;
}
.header .container a img {
  width: 230px;
}

.auth-page .container .hero {
  text-align: center;
}
.auth-page .container .hero h1 {
  font-size: 35px;
}
.auth-page .container .hero p {
  font-size: 20px;
}
.auth-page .auth {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.auth-page .auth .section {
  width: 220px;
  margin: 25px;
}
.auth-page .auth .section .authInput {
  padding: 7px;
  margin: 5px;
  border-radius: 12px;
  border: 2px solid black;
  font-size: 17px;
}
.auth-page .auth .section a .authBtn {
  padding: 7px;
  margin: 5px;
  border-radius: 12px;
  width: 100px;
  border: 2px solid black;
  background-color: #091F43;
  color: white;
  font-size: 17px;
}

/* Main Page */
.main-header {
  background-color: #091F43;
  padding: 20px 0;
}
.main-header .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-header .container div {
  display: block;
}
.main-header .container div .logo {
  height: 36px;
  width: auto;
}
.main-header .container div h1 {
  margin-left: 50px;
  font-size: 22px;
  color: white;
  line-height: 36px;
}
.main-header .container .header-btns {
  display: flex;
  flex-wrap: nowrap;
}
.main-header .container .header-btns img {
  height: 36px;
  width: auto;
  margin: 18px 10px 0;
  cursor: pointer;
}
.main-header .container .header-btns .window {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: rgba(117, 114, 114, 0.5);
}
.main-header .container .header-btns .window .box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 450px;
  margin: O auto;
  padding: 30px;
  border-radius: 12px;
  background-color: #091F43;
  color: white;
}
.main-header .container .header-btns .window .box .title {
  display: flex;
  justify-content: space-between;
}
.main-header .container .header-btns .window .box .title h3 {
  font-size: 23px;
  font-weight: 300px;
}
.main-header .container .header-btns .window .box .create-post {
  margin-top: 30px;
}
.main-header .container .header-btns .window .box .create-post .img-input {
  margin-bottom: 25px;
}
.main-header .container .header-btns .window .box .create-post .text-input {
  margin: 5px 0;
}
.main-header .container .header-btns .window .box .create-post .text-input label {
  width: 100%;
  font-size: 21px;
}
.main-header .container .header-btns .window .box .create-post .text-input input {
  width: 100%;
  height: 100px;
  overflow: scroll;
  border: 2px solid black;
}
.main-header .container .header-btns .window .box .create-post .submit-btn {
  padding: 7px;
  border-radius: 12px;
  width: 100px;
  border: 2px solid black;
  background-color: white;
  color: #091F43;
  font-size: 17px;
}
.main-header .container .header-btns .window .box .profile {
  margin-top: 30px;
}
.main-header .container .header-btns .window .box .profile img {
  width: 50px;
  height: auto;
  margin-bottom: 20px;
}
.main-header .container .header-btns .window .box .profile div {
  display: flex;
  flex-wrap: wrap;
  color: white;
}
.main-header .container .header-btns .window .box .profile div .title {
  font-weight: 500;
}
.main-header .container .header-btns .window .box .profile div p {
  padding: 10px 5px;
  font-size: 1.2rem;
  font-weight: 300;
}
.main-header .container .header-btns .window .box .profile input {
  padding: 7px;
  border-radius: 12px;
  border: none;
  background-color: white;
  color: #091F43;
  font-size: 17px;
}

.main-page .container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.main-page .container .posts {
  margin: 20px 0;
}
.main-page .container .posts h2 {
  font-size: 25px;
  padding-left: 15px;
}
.main-page .container .posts .box {
  display: flex;
  flex-wrap: wrap;
}
.main-page .container .posts .box .post {
  padding: 15px;
}
.main-page .container .posts .box .post .content {
  position: relative;
  padding: 15px;
  width: 100%;
  height: 460px;
  background-color: #f2f2f2;
  border-radius: 12px;
  box-shadow: rgba(35, 35, 65, 0.25) 0px 6px 12px -2px, rgba(3, 3, 3, 0.418) 0px 3px 7px -3px;
}
.main-page .container .posts .box .post .content .top-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.main-page .container .posts .box .post .content .top-bar img {
  height: 30px;
  cursor: pointer;
}
.main-page .container .posts .box .post .content .top-bar .user-info {
  display: flex;
}
.main-page .container .posts .box .post .content .top-bar .user-info p {
  margin-left: 10px;
  line-height: 30px;
}
.main-page .container .posts .box .post .content .top-bar .view-comments {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: rgba(117, 114, 114, 0.5);
}
.main-page .container .posts .box .post .content .top-bar .view-comments .box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 500px;
  margin: O auto;
  border-radius: 12px;
  background-color: #091F43;
  color: white;
  overflow: scroll;
  display: block;
}
.main-page .container .posts .box .post .content .top-bar .view-comments .box .title {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #091F43;
}
.main-page .container .posts .box .post .content .top-bar .view-comments .box .title h3 {
  font-size: 22px;
  font-weight: 300px;
}
.main-page .container .posts .box .post .content .top-bar .view-comments .box .items {
  overflow: scroll;
  padding: 0 15px 15px 15px;
}
.main-page .container .posts .box .post .content .top-bar .view-comments .box .items .item {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 7px;
  margin: 15px;
  border-radius: 12px;
  background-color: #204175;
}
.main-page .container .posts .box .post .content .top-bar .view-comments .box .items .item .user {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 10px;
}
.main-page .container .posts .box .post .content .top-bar .view-comments .box .items .item .user img {
  height: 25px;
  margin-right: 7px;
}
.main-page .container .posts .box .post .content .top-bar .view-comments .box .items .item .user p {
  line-height: 25px;
  font-weight: 600;
}
.main-page .container .posts .box .post .content .top-bar .view-comments .box .items .item p {
  font-weight: 200;
}
.main-page .container .posts .box .post .content .img-container {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.main-page .container .posts .box .post .content .img-container img {
  height: 220px;
  width: auto;
  border: 1px solid rgba(167, 164, 164, 0.459);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.main-page .container .posts .box .post .content .caption-container {
  margin: 15px 0;
  height: auto;
  max-height: 100px;
  overflow-y: scroll;
  border-radius: 12px;
}
.main-page .container .posts .box .post .content .post-actions {
  position: absolute;
  bottom: 15px;
  display: flex;
}
.main-page .container .posts .box .post .content .post-actions img {
  margin-right: 15px;
  height: 25px;
  cursor: pointer;
}
.main-page .container .posts .box .post .content .post-actions .likes {
  position: relative;
}
.main-page .container .posts .box .post .content .post-actions .likes .like {
  position: absolute;
  bottom: 0;
  left: 0;
}
.main-page .container .posts .box .post .content .post-actions .likes .like-active {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0.2);
  transition: transform 400ms;
}
.main-page .container .posts .box .post .content .post-actions .likes .like-active:hover {
  transform: scale(0.99);
}
.main-page .container .posts .box .post .content .post-actions .comments {
  display: flex;
  flex-wrap: nowrap;
}
.main-page .container .posts .box .post .content .post-actions .comments .input {
  border-radius: 12px;
  border: 1px solid #091F43;
}
.main-page .container .posts .box .post .content .post-actions .comments .btn {
  margin-left: 5px;
  padding: 5px;
  border-radius: 12px;
  width: 70px;
  border: 2px solid black;
  background-color: #091F43;
  color: white;
  font-size: 15px;
}
.main-page .container div .sticky-items {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}
.main-page .container div .sticky-items .footer {
  margin: 20px 0;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.main-page .container div .sticky-items .footer p {
  line-height: 5px;
  font-size: 13px;
}
.main-page .container div .sticky-items .footer span {
  font-size: 14px;
  margin: 5px 0;
}
.main-page .container div .sticky-items a {
  width: 100%;
  text-decoration: none;
}
.main-page .container div .sticky-items a button {
  padding: 7px;
  margin: 0 5px;
  border-radius: 12px;
  width: 150px;
  border: 2px solid black;
  background-color: #091F43;
  color: white;
}

@media only screen and (max-width: 700px) {
  .main-header .container div .logo {
    height: 32px;
    width: auto;
  }
  .main-header .container div h1 {
    margin-left: 50px;
    font-size: 20px;
  }
  .main-header .container .header-btns img {
    height: 30px;
    margin-left: 7px;
  }
  .main-header .container .header-btns .window .box {
    width: 90%;
  }

  .main-page .container .posts .box .post .content .top-bar .view-comments .box {
    width: 90%;
  }
  .main-page .container .posts .box .post .content .post-actions div img {
    margin-right: 10px;
    height: 20px;
  }
  .main-page .container .posts .box .post .content .post-actions .comments .input {
    width: 115px;
  }
}/*# sourceMappingURL=styles.css.map */