* {
  scroll-behavior: smooth;
}

/* Authentication Page */
.header {
  background-color: #091F43;
}
.header div {
  padding: 20px;
  margin-top: 0;
}
.header div a img {
  width: 230px;
}

.authPage .container .hero {
  text-align: center;
}
.authPage .container .hero h1 {
  font-size: 35px;
}
.authPage .container .hero p {
  font-size: 20px;
}
.authPage .auth {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.authPage .auth .section {
  width: 220px;
  margin: 25px;
}
.authPage .auth .section .authInput {
  padding: 7px;
  margin: 5px;
  border-radius: 12px;
  border: 2px solid black;
  font-size: 17px;
}
.authPage .auth .section a .authBtn {
  padding: 7px;
  margin: 5px;
  border-radius: 12px;
  width: 100px;
  border: 2px solid black;
  background-color: #091F43;
  color: white;
  font-size: 17px;
}

/* Main Page */
.mainHeader {
  background-color: #091F43;
  padding: 30px;
}
.mainHeader .box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.mainHeader .box .logo {
  width: 230px;
}
.mainHeader .search img {
  width: 22px;
  margin-right: 5px;
}
.mainHeader .search input {
  width: 330px;
  border-radius: 12px;
  border: none;
  padding: 5px;
}
.mainHeader .post a img {
  width: 20px;
  cursor: pointer;
}
.mainHeader .post a button {
  padding: 5px;
  margin: 0 5px;
  border-radius: 12px;
  width: 150px;
  border: 2px solid black;
  background-color: white;
}

.container {
  margin: 40px 0;
}
.container .responsiveItems {
  display: none;
}
.container .trending {
  margin: 50px 0;
}
.container .trending h2 {
  font-size: 25px;
}
.container .trending .items {
  display: flex;
  margin: 20px 0;
}
.container .trending .items .item {
  height: 300px;
  width: calc(100%/3);
  margin: 0 15px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  position: relative;
  cursor: pointer;
}
.container .trending .items .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .trending .items .item .contents {
  background-color: rgba(29, 28, 28, 0.562);
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
}
.container .trending .items .item .contents .user {
  display: inline-flex;
}
.container .trending .items .item .contents .user h2 {
  font-size: 17px;
  color: white;
  margin-left: 5px;
  line-height: 30px;
}
.container .trending .items .item .contents .user img {
  height: 30px;
  width: 30px;
}
.container .trending .items .item .contents .stats {
  display: inline-flex;
}
.container .trending .items .item .contents .stats span {
  display: inline-flex;
  margin: 0 10px;
}
.container .trending .items .item .contents .stats span img {
  height: 20px;
  width: 20px;
}
.container .trending .items .item .contents .stats span p {
  margin: 2px;
  line-height: 20px;
}
.container .trending .items .item .contents .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 10px 10px;
}
.container .trending .items .item .contents p {
  font-size: 16px;
  margin: 2px 10px 10px;
  color: white;
}
.container .box {
  display: flex;
  margin: 20px 0;
}
.container .box .col .filters h2 {
  font-size: 25px;
}
.container .box .col .filters .buttons {
  display: flex;
}
.container .box .col .filters .buttons button {
  width: 120px;
  padding: 7px;
  margin: 0 5px;
  border-radius: 12px;
  border: 2px solid black;
  background-color: #091F43;
  color: white;
  font-size: 20px;
}
.container .box .col .posts {
  margin: 20px 0;
}
.container .box .col .posts h2 {
  font-size: 25px;
}
.container .box .col .posts .post {
  width: 100%;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.container .box .col .stickyItems {
  position: sticky;
  top: 15px;
}
.container .box .col .stickyItems .row {
  width: 100%;
  margin: 0 auto;
}
.container .box .col .stickyItems .row h2 {
  font-size: 23px;
}
.container .box .col .stickyItems .row button {
  width: 80%;
  padding: 7px;
  margin: 0 0 20px;
  border-radius: 12px;
  border: 2px solid black;
  background-color: #091F43;
  color: white;
  font-size: 20px;
}
.container .box .col .stickyItems .row button img {
  width: 18px;
  margin: 0 5px;
}
.container .box .col .stickyItems .footer {
  margin: 20px 0;
  padding: 20px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.container .box .col .stickyItems .footer p {
  line-height: 5px;
  font-size: 13px;
}
.container .box .col .stickyItems .footer span {
  font-size: 14px;
  margin: 5px 0;
}
.container .box .col .stickyItems a {
  width: 100%;
  text-decoration: none;
}
.container .box .col .stickyItems a button {
  padding: 7px;
  margin: 0 5px;
  border-radius: 12px;
  width: 150px;
  border: 2px solid black;
  background-color: #091F43;
  color: white;
}
.container .responsiveBtn {
  display: none;
}

/* Post Page */
.container a {
  display: flex;
  align-items: baseline;
}
.container a img {
  width: 17px;
  margin-right: 5px;
}
.container a h1 {
  font-size: 22px;
  color: black;
}
.container .inputs {
  padding: 30px;
}
.container .inputs .imgInput {
  margin-bottom: 25px;
}
.container .inputs .textInput {
  margin: 25px 0;
}
.container .inputs .textInput label {
  width: 100%;
  font-size: 21px;
}
.container .inputs .textInput input {
  width: 100%;
  height: 200px;
  border: 2px solid black;
}
.container .inputs .submitBtn {
  padding: 7px;
  border-radius: 12px;
  width: 100px;
  border: 2px solid black;
  background-color: #091F43;
  color: white;
  font-size: 17px;
}

/* Profile Page */
.profilePage .container .profile {
  width: 70%;
  margin: 20px auto;
  padding: 1.5rem 1.2rem;
  border-radius: 20px;
  background-color: rgba(231, 231, 231, 0.692);
}
.profilePage .container .profile img {
  width: 70px;
  margin-bottom: 20px;
}
.profilePage .container .profile div {
  display: flex;
  flex-wrap: wrap;
  color: black;
}
.profilePage .container .profile div .title {
  font-weight: 500;
}
.profilePage .container .profile div p {
  padding: 10px 5px;
  font-size: 1.2rem;
  font-weight: 300;
}
.profilePage .container .profile input {
  padding: 7px;
  border-radius: 12px;
  border: 2px solid black;
  background-color: #091F43;
  color: white;
  font-size: 17px;
}

/* FOR TABLETS */
@media only screen and (max-width: 768px) {
  /* Main Page */
  .mainHeader .box .logo {
    width: 230px;
    margin: 0;
    padding: 0;
  }
  .mainHeader .search img {
    width: 22px;
    margin-right: 5px;
  }
  .mainHeader .search input {
    width: 220px;
  }
  .mainHeader .post a img {
    width: 20px;
  }
  .mainHeader .post a button {
    width: 100px;
  }

  .container {
    margin: 40px 0;
  }
  .container .box {
    display: flex;
    margin: 20px 0;
  }
  .container .box .col .filters h2 {
    font-size: 25px;
  }
  .container .box .col .filters .buttons {
    display: flex;
  }
  .container .box .col .filters .buttons button {
    width: 120px;
    padding: 7px;
    margin: 0 5px;
    border-radius: 12px;
    border: 2px solid black;
    background-color: #091F43;
    color: white;
    font-size: 20px;
  }
  .container .box .col .posts {
    margin: 20px 0;
  }
  .container .box .col .posts h2 {
    font-size: 25px;
  }
  .container .box .col .posts .post {
    width: 100%;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  .container .box .col .stickyItems {
    position: sticky;
    top: 15px;
  }
  .container .box .col .stickyItems .row {
    width: 100%;
    margin: 0 auto;
  }
  .container .box .col .stickyItems .row h2 {
    font-size: 23px;
  }
  .container .box .col .stickyItems .row button {
    width: 80%;
    padding: 7px;
    margin: 0 0 20px;
    border-radius: 12px;
    border: 2px solid black;
    background-color: #091F43;
    color: white;
    font-size: 20px;
  }
  .container .box .col .stickyItems .row button img {
    width: 18px;
    margin: 0 5px;
  }
  .container .box .col .stickyItems .footer {
    margin: 20px 0;
    padding: 20px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  .container .box .col .stickyItems .footer p {
    line-height: 5px;
    font-size: 13px;
  }
  .container .box .col .stickyItems .footer span {
    font-size: 14px;
    margin: 5px 0;
  }
  .container .box .col .stickyItems button {
    padding: 7px;
    margin: 0 5px;
    border-radius: 12px;
    width: 150px;
    border: 2px solid black;
    background-color: #091F43;
    color: white;
  }
}
/* FOR PHONES */
@media only screen and (max-width: 450px) {
  /* Main Page */
  .mainHeader .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .mainHeader .box .logo {
    margin-bottom: 25px;
  }
  .mainHeader .search {
    display: flex;
  }
  .mainHeader .search img {
    height: 30px;
    margin-right: 5px;
  }
  .mainHeader .search input {
    height: 30px;
    width: 230px;
  }
  .mainHeader .post {
    display: none;
  }

  .container .responsiveItems {
    display: flex;
  }
  .container .responsiveItems .btn {
    width: 100%;
  }
  .container .responsiveItems .btn h2 {
    font-size: 15px;
  }
  .container .responsiveItems .btn button {
    width: 100px;
    padding: 7px;
    margin: 0;
    border-radius: 12px;
    border: 2px solid black;
    background-color: #091F43;
    color: white;
    font-size: 15;
  }
  .container .responsiveItems .btn button img {
    width: 18px;
    margin: 0 20px;
  }
  .container .trending .items {
    display: flex;
    flex-wrap: wrap;
  }
  .container .trending .items .item {
    height: 250px;
    width: 100%;
    margin: 10px 15px;
  }
  .container .box {
    display: block;
    margin: 20px 0;
  }
  .container .box .col .filters {
    width: 100%;
    margin-bottom: 30px;
  }
  .container .box .col .filters .buttons {
    display: flex;
    flex-wrap: wrap;
  }
  .container .box .col .filters .buttons button {
    width: 100px;
    margin: 5px 5px;
    font-size: 16px;
  }
  .container .box .col .posts {
    margin: 20px 0;
  }
  .container .box .col .posts .post {
    margin: 20px 0;
    width: 100%;
    height: 250px;
  }
  .container .box .col .stickyItems .row {
    display: none;
  }
  .container .box .col .stickyItems .footer {
    margin: 20px 0;
    padding: 20px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  .container .box .col .stickyItems .footer p {
    line-height: 5px;
    font-size: 13px;
  }
  .container .box .col .stickyItems .footer span {
    font-size: 14px;
    margin: 5px 0;
  }
  .container .box .col .stickyItems button {
    display: none;
  }
  .container .responsiveBtn {
    display: block;
    position: sticky;
    bottom: 10px;
    padding: 7px;
    margin: 0 15px;
    border-radius: 12px;
    width: 150px;
    border: 2px solid black;
    background-color: #091F43;
    color: white;
  }
}/*# sourceMappingURL=styles.css.map */