/* Authentication Page */
.authHeader{
    background-color: #091F43;

    div{
        padding: 20px;
        margin-top: 0;

        img{
            width: 230px;
        }
    }
}

.authPage{

    .container{

        .hero{
            text-align: center;

            h1{
                font-size: 35px;
            }

            p{
                font-size: 20px;
            }
        }
    }

    .auth{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .section {
            width: 220px;
            margin: 25px;

            .authInput{
                padding: 7px;
                margin: 5px;
                border-radius: 12px;
                border: 2px solid black;
                font-size: 17px;
            }

            a{
                .authBtn{
                    padding: 7px;
                    margin: 5px;
                    border-radius: 12px;
                    width: 100px;
                    border: 2px solid black;
                    background-color: #091F43;
                    color: white;
                    font-size: 17px;
                }
            }
        }
    }
}

/* Main Page */
.mainHeader{
   background-color: #091F43; 
   padding: 30px;

   .box{
       display: flex;
       justify-content: space-between;
       width: 100%;

        .logo{
            width: 230px;
        }
    }

    .search{
        
        img{
            width: 22px;
            margin-right: 5px;
        }

        input{
            width: 330px;
            border-radius: 12px;
            border: none;
            padding: 5px;
        }
    }

    .post{

        a{
            img{
                width: 20px;
                cursor: pointer;
            }

            button{
               padding: 5px;
                margin: 0 5px;
                border-radius: 12px;
                width: 150px;
                border: 2px solid black;
                background-color: white;
            }
        }
    }
}

.container{
    margin: 40px 0;

    .responsiveItems{
        display: none;
    }

    .trending{
        margin: 50px 0;

        h2{
            font-size: 25px;
        }

        .items{
            display: flex;
            margin: 20px 0;

            .item{
                height: 300px;
                width: calc(100%/3);
                margin: 0 15px;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            }
        }
    }

    .box{
        display: flex;
        margin: 20px 0;

        .col{

            .filters{
                
                h2{
                    font-size: 25px;
                }

                .buttons{
                    display: flex;

                    button{
                        width: 120px;
                        padding: 7px;
                        margin: 0 5px;
                        border-radius: 12px;
                        border: 2px solid black;
                        background-color: #091F43;
                        color: white;
                        font-size: 20px;
                    }
                }
            }

            .posts {
                margin: 20px 0;

                h2{
                    font-size: 25px;
                }

                .post{
                    width: 100%;
                    height: 300px;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                }
            }

            .stickyItems{
                position: sticky;
                top: 15px;

                .row{
                    width: 100%;
                    margin: 0 auto;

                    h2{
                        font-size: 23px;
                    }

                    button{
                        width: 80%;
                        padding: 7px;
                        margin: 0 0 20px;
                        border-radius: 12px;
                        border: 2px solid black;
                        background-color: #091F43;
                        color: white;
                        font-size: 20px;

                        img{
                            width: 18px;
                            margin: 0 5px;
                        }
                    }
                }

                .footer{
                    margin: 20px 0;
                    padding: 20px;
                    width: 100%;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;   
                
                    p{
                        line-height: 5px;
                        font-size: 13px;
                    }

                    span{
                        font-size: 14px;
                        margin: 5px 0;
                    }
                }

                button{
                    padding: 7px;
                    margin: 0 5px;
                    border-radius: 12px;
                    width: 150px;
                    border: 2px solid black;
                    background-color: #091F43;
                    color: white;
                }
            }
        }
    }
    .responsiveBtn{
        display: none;
    }
}

/* FOR TABLETS */
@media only screen and (max-width: 768px){
  
    /* Main Page */
    .mainHeader{
        .box{
            .logo{
                width: 230px;
                margin: 0;
                padding: 0;
            }
        }

        .search{  
            img{
                width: 22px;
                margin-right: 5px;
            }
            input{
                width: 220px;
            }
        }

        .post{
            a{
                img{
                    width: 20px;
                }

                button{
                    width: 100px;
                }
            }
        }
    }

    .container{
        margin: 40px 0;

        .box{
            display: flex;
            margin: 20px 0;

            .col{

                .filters{
                    
                    h2{
                        font-size: 25px;
                    }

                    .buttons{
                        display: flex;

                        button{
                            width: 120px;
                            padding: 7px;
                            margin: 0 5px;
                            border-radius: 12px;
                            border: 2px solid black;
                            background-color: #091F43;
                            color: white;
                            font-size: 20px;
                        }
                    }
                }

                .posts {
                    margin: 20px 0;

                    h2{
                        font-size: 25px;
                    }

                    .post{
                        width: 100%;
                        height: 300px;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                    }
                }

                .stickyItems{
                    position: sticky;
                    top: 15px;

                    .row{
                        width: 100%;
                        margin: 0 auto;

                        h2{
                            font-size: 23px;
                        }

                        button{
                            width: 80%;
                            padding: 7px;
                            margin: 0 0 20px;
                            border-radius: 12px;
                            border: 2px solid black;
                            background-color: #091F43;
                            color: white;
                            font-size: 20px;

                            img{
                                width: 18px;
                                margin: 0 5px;
                            }
                        }
                    }

                    .footer{
                        margin: 20px 0;
                        padding: 20px;
                        width: 100%;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;   
                    
                        p{
                            line-height: 5px;
                            font-size: 13px;
                        }

                        span{
                            font-size: 14px;
                            margin: 5px 0;
                        }
                    }

                    button{
                        padding: 7px;
                        margin: 0 5px;
                        border-radius: 12px;
                        width: 150px;
                        border: 2px solid black;
                        background-color: #091F43;
                        color: white;
                    }
                }
            }
        }
    }
}

/* FOR PHONES */
@media only screen and (max-width: 450px) {
    
    /* Main Page */
    .mainHeader{ 
        .box{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .logo{
                margin-bottom: 25px;
            }
        }

        .search{
            display: flex;

            img{
                height: 30px;
                margin-right: 5px;
            }

            input{
                height: 30px;
                width: 230px;
            }
        }

        .post{
            display: none;
        }
    }

    .container{

        .responsiveItems{
            display: flex;

            .btn{
                width: 100%;

                h2{
                    font-size: 15px;
                }

                button{
                    width: 100px;
                    padding: 7px;
                    margin: 0;
                    border-radius: 12px;
                    border: 2px solid black;
                    background-color: #091F43;
                    color: white;
                    font-size: 15;

                    img{
                        width: 18px;
                        margin: 0 20px;
                    }
                }
            }
        }

        .trending{

            .items{
                display: flex;
                flex-wrap: wrap;

                .item{
                    height: 250px;
                    width: 100%;
                    margin: 10px 15px;
                }
            }
        }

        .box{
            display: block;
            margin: 20px 0;

            .col{

                .filters{
                     width: 100%;
                     margin-bottom: 30px;

                    .buttons{
                        display: flex;
                        flex-wrap: wrap;

                        button{
                            width: 100px;
                            margin: 5px 5px;
                            font-size: 16px;
                        }
                    }
                }

                .posts {
                    margin: 20px 0;

                    .post{
                        margin: 20px 0;
                        width: 100%;
                        height: 250px;
                    }
                }

                .stickyItems{

                    .row{
                        display: none;
                    }

                    .footer{
                        margin: 20px 0;
                        padding: 20px;
                        width: 100%;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;   
                    
                        p{
                            line-height: 5px;
                            font-size: 13px;
                        }

                        span{
                            font-size: 14px;
                            margin: 5px 0;
                        }
                    }

                    button{
                        display: none;
                    }
                }
            }
        }

        .responsiveBtn{
            display:block;
            position: sticky;
            bottom: 10px;
            padding: 7px;
            margin: 0 15px;
            border-radius: 12px;
            width: 150px;
            border: 2px solid black;
            background-color: #091F43;
            color: white;
        }
    }
}