/* Authentication Page */
.authHeader{
    background-color: #091F43;

    div{
        padding: 20px;

        img{
            width: 330px;
        }
    }
}

.authPage{

    .auth{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

    .section {
        width: 200px;
        margin: 20px;

        .authInput{
            padding: 7px;
            margin: 5px;
            border-radius: 12px;
            border: 2px solid black;
        }

        a{
            .authBtn{
                padding: 7px;
                margin: 5px;
                border-radius: 12px;
                width: 100px;
                border: 2px solid black;
                background-color: #091F43;
                color: white;
                font-size: 20px;
            }
        }
    }
}
}

/* Main Page */
.mainHeader{
   background-color: #091F43; 

   .box{
       display: flex;
       justify-content: space-between;
       width: 100%;
       padding: 30px;

        .logo{
            width: 230px;
        }
    }

    .search{
        
        img{
            width: 22px;
            margin-right: 5px;
        }

        input{
            width: 330px;
            border-radius: 12px;
            border: none;
            padding: 5px;
        }
    }

    .post{

        a{
            img{
                width: 20px;
                cursor: pointer;
            }

            button{
               padding: 7px;
                margin: 0 5px;
                border-radius: 12px;
                width: 150px;
                border: 2px solid black;
                background-color: white;
            }
        }
    }
}

.container{
    margin: 60px 0;

    .trending{
        margin: 50px 0;

        h2{
            font-size: 25px;
        }

        .items{
            display: flex;
            margin: 20px 0;

            .item{
                height: 300px;
                width: calc(100%/3);
                margin: 0 15px;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            }
        }
    }

    .box{
        display: flex;
        margin: 20px 0;

        .col{

            .filters{
                
                h2{
                    font-size: 25px;
                }

                .buttons{
                    display: flex;

                    button{
                        width: 120px;
                        padding: 7px;
                        margin: 0 5px;
                        border-radius: 12px;
                        border: 2px solid black;
                        background-color: #091F43;
                        color: white;
                        font-size: 20px;
                    }
                }
            }

            .posts {
                margin: 20px 0;

                h2{
                    font-size: 25px;
                }

                .post{
                    width: 100%;
                    height: 300px;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                }
            }

            .stickyItems{

                .row{
                    width: 100%;
                    margin: auto;

                    h2{
                        font-size: 23px;
                    }

                    button{
                        width: 80%;
                        padding: 7px;
                        margin: 0 0 20px;
                        border-radius: 12px;
                        border: 2px solid black;
                        background-color: #091F43;
                        color: white;
                        font-size: 20px;

                        img{
                            width: 18px;
                            margin: 0 5px;
                        }
                    }
                }

                position: sticky;
                top: 15px;

                .footer{
                    margin: 20px 0;
                    padding: 20px;
                    width: 100%;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;   
                
                    p{
                        line-height: 5px;
                        font-size: 13px;
                    }

                    span{
                        font-size: 14px;
                        margin: 5px 0;
                    }
                }

                button{
                    padding: 7px;
                    margin: 0 5px;
                    border-radius: 12px;
                    width: 150px;
                    border: 2px solid black;
                    background-color: #091F43;
                    color: white;
                }
            }
        }
    }
}